# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# My Zeugs
Release/
Debug/
/.project
*.log
*.tlog
*.pdb
*.obj
*.Cache
*.Resources
*.opensdf
/Highscore.txt